<div id="korra-background">
<div class="row">
    <h2>Korra and Naga</h2>
</div>
<div class="row">
    <div class="col-md-3">
        <h3>Korra</h3>
        <ul>
            <li>The Avatar after the beloved Aang</li>
            <li>Powerful but aware of her weaknesses</li>
            <li>A natural at damn near everything</li>
        </ul>
    </div>
    <img class="col-md-6"
         src="http://pre00.deviantart.net/d789/th/pre/i/2013/208/4/d/korra_and_naga_by_etherstar-d6f6tk9.jpg" />
    <div class="col-md-3">
    <h3>Naga</h3>
    <ul>
        <li>Just your average polar bear dog.</li>
    </ul>
    </div>
</div>
</div>