<div id="midna-background">
<div class="row">
    <h2>Midna and Wolf Link</h2>
</div>
<div class="row">
    <div class="col-md-3">
        <h3>Midna</h3>
        <ul>
            <li>Twilight Princess and the first sidekick in the Legend of Zelda series with depth and character</li>
        </ul>
    </div>
    <img id="midna" class="col-md-6"
         src="http://pre09.deviantart.net/4177/th/pre/f/2013/344/1/f/midna_and_wolf_link_windwaker_style_by_bartuckvizharan-d6xhf51.jpg" />
    <div class="col-md-3">
    <h3>Wolf Link</h3>
    <ul>
        <li>Link is cool, too, I suppose.</li>
        <li>But if I'm being honest he's only here because of they symmetry he provides as a wolf</li>
    </ul>
    </div>
</div>
</div>