
<div class="row">
    <h2>Midna and Wolf Link</h2>
</div>
<div class="row">
    <div class="col-md-3">
        <h3>Midna</h3>
        <p>Twilight Princess and the first sidekick in the Legend of Zelda series with depth and character</p>
    </div>
    <img id="midna" class="col-md-6"
         src="http://pre09.deviantart.net/4177/th/pre/f/2013/344/1/f/midna_and_wolf_link_windwaker_style_by_bartuckvizharan-d6xhf51.jpg" />
    <h3 class="col-md-3">Wolf Link</h3>
    <p>Link is cool, too, I suppose.</p>
</div>
