<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <ul class="nav nav-pills nav-justified">
            <li><a href="#mononoke"><img src="http://a.deviantart.net/avatars/m/o/mononoke22.gif" />Mononoke</a></li>
            <li><a href="#korra"><img src="http://ih1.redbubble.net/image.120439091.4907/sticker,375x360.png"
                                      height="50" width="auto"/>Korra
            </a></li>
            <li><a href="#midna"><img src="http://41.media.tumblr.com/tumblr_m1n6joaJet1r413h3o1_250.png" height="50"
                                      width="auto"/>Midna</a></li>
        </ul>
    </div>
</div>